@using DashboardView.CI.Jenkins;
@using DashboardView.Utils
@model DashboardView.Models.Groups
@{
    ViewBag.Title = "Home";
}
<style>
    button.buildsgroup {
        text-align: left;
        font-weight: bold;
        font-family: Verdana;
        font-size: 250%;
        background-color: #858585;
        color: #ffffff;
        box-shadow: none;
    }
    .flat-table {
        table-layout: fixed;
        display: block;
        font-style: normal;
        font-family: sans-serif;
    }
    td {
        font-family: Verdana;
        font-size: 100%;
        align-items: center;
    }
    footer p {
        color: aliceblue;
    }
    .table thead > tr > th {
        width: 2%;
        font-size: 200%;
        background-color: #BBBBBB;
        color: #ffffff;
        font-family: Verdana;
        font-weight: bold;
        font-size: 150%;
    }
    .table > tbody > tr.danger > td {
        align-content: center;
        font-size: 150%;
    }
    .table > tbody > tr.success > td {
        font-size: 150%;
        border-color: #dff0d8;
    }
    .table > tbody > tr.warning > td {
        background-color: #E6E6E6;
        font-size: 150%;
        border-color: #E6E6E6;
    }
    .table > tbody > tr.warning:hover > td {
        background-color: #BDBDBD;
        border-color: #BDBDBD;
    }
    td.buildsuccess {
        color: #1B882C;
    }
    td.buildfailure {
        color: #BD402E;
    }
    td.buildother {
        color: #848484;
    }
    .btn:hover {
        color : #ffffff;
        text-decoration : underline;
    }
    .btn:focus {
        color: #ffffff;
    }
</style>
@for (var index = 0; index < Model.GroupList.Count; index++)
{
    <button class="btn btn-block btn-lg buildsgroup" data-toggle="collapse" id="row@{@index}" data-target=".row@{@index}">@Model.GroupList.ElementAt(index).Title</button>
    <div class="table-responsive">
        <table class="table table-hover flat-table ">
            <thead>
                <tr class="collapse row@{@index}">
                    <th>Job name</th>
                    <th>Status</th>
                    <th>Duration</th>
                    <th>Link to build</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var build in @Model.GroupList.ElementAt(index).Builds)
                {
                    if (@JenkinsApi.GetBuildInfo(build.Name).Result.Contains("SUCCESS"))
                    {
                        <tr class="success collapse row@{@index}">
                            <td class="buildname">@build.Name</td>
                            <td class="buildsuccess">@JenkinsApi.GetBuildInfo(build.Name).Result</td>
                            <td>@TimeUtil.GetStringFormatFromSeconds(JenkinsApi.GetBuildInfo(build.Name).Duration)</td>
                            <td><a href="@JenkinsApi.GetBuildInfo(build.Name).Url">Link</a></td>
                        </tr>
                    }
                    else if (@JenkinsApi.GetBuildInfo(build.Name).Result.Contains("FAILURE"))
                    {
                        <tr class="danger collapse row@{@index}">
                            <td class="buildname">@build.Name</td>
                            <td class="buildfailure">@JenkinsApi.GetBuildInfo(build.Name).Result</td>
                            <td>@TimeUtil.GetStringFormatFromSeconds(JenkinsApi.GetBuildInfo(build.Name).Duration)</td>
                            <td><a href="@JenkinsApi.GetBuildInfo(build.Name).Url">Link</a></td>
                        </tr>
                    }
                    else
                    {
                        <tr class="warning collapse row@{@index}">
                            <td class="buildname">@build.Name</td>
                            <td class="buildother">@JenkinsApi.GetBuildInfo(build.Name).Result</td>
                            <td>@TimeUtil.GetStringFormatFromSeconds(JenkinsApi.GetBuildInfo(build.Name).Duration)</td>
                            <td><a href="@JenkinsApi.GetBuildInfo(build.Name).Url">Link</a></td>
                        </tr>
                    }
                 }
            </tbody>
        </table>
    </div>
}
